.container {
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 20px 10px;
  margin-bottom: 10px;
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  height: 100px;
}

.title {
  font-size: 18px;
  margin-bottom: 5px;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  margin: 0;
}

.description {
  color: #555;
}

.checkbox {
  cursor: pointer;
}

.done {
  opacity: 0.5;
}

.dashedLine {
  text-decoration: line-through;
}
